
h1{color:rgb(255, 208, 231)}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}
h2{color:rgb(255, 208, 231)}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}
h3{color:rgb(255, 208, 231)}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}
nav{color:rgb(255, 208, 231)}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}

.container {
    width:800px;
    margin: 0 auto;
    background-color: #ff7ab8;
    padding: 20px;
}
.left{
    width:48%;
    float:right;
}
.right{
    width:48%;
    float:right;
}
article p{
    color: palevioletred
}
footer{
    text-align:center;
    background-color: lightgoldenrodyellow;
    clear:both;
    width: 100%;
    padding-top:20px;

}